.letterSpace{
    /* letter-spacing: .15rem; */
    font-size: 2.1rem;
    line-height: 2.7rem;
    padding: 2rem;
    opacity: .85;
}


.about{
    font-size: 1.1rem;
}


.profile{
    width: 20rem;
    border-radius: 50%;
}