.p-img{
    width: 34rem;
}

.console{
    margin-top: 6rem;
}


.varsity{
    margin-top: 8rem;
}

.p-head{
    opacity: .8;
}

.uni-img{
    width: 12rem;
}

.uni-img:hover{
    opacity: .8;
}

.uni-a{
    text-decoration: none;
    color: black;
}

.uni-p{
    font-size: .75rem;
}

.uni-link{
    margin: 0 auto;
}